<html lang="en" style="margin: 0;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rehearsal Manager</title>
</head>

<body style="background-color: rgb(49, 49, 49); margin: 0;">
</body>
  <script>
    const input = window.prompt('Auth missing/expired. Please get an auth code from the app:');
    if (input) {
      const request = async () => {
        const res = await fetch(`/?code=${ input }`);
        if (res.status === 200)
          location.reload();
      }
      request();
    }
  </script>
</html>